// Colours

$investor-green: #74a43f;
$financial-green: #49573d;

$bg: #fff;
$bg-secondary: #f7f7f7;

$grey-dark: #464741;
$grey: #6d6e68;
$grey-light: #dddddb;

$text-colour: #74736d;
$text-colour-dark: #333;