.btn
{
	border: 0;
	color: #fff;

	-webkit-transition: background-color 0.3s;
       -moz-transition: background-color 0.3s;
        -ms-transition: background-color 0.3s;
         -o-transition: background-color 0.3s;
            transition: background-color 0.3s;
	
	&:hover
	{
		background-color: #59882b!important;
	}
}

.btn--arrow
{
	position: relative;
	padding-right: 30px;

	&:after
    {
        font-family: 'FontAwesome';

        position: absolute;
        right: 10px;

        content: '\f0a9';
    }
}

.btn--investor
{
	color: #fff!important;
	background-color: $investor-green;
}

.btn--financial
{
	color: #fff!important;
	background-color: $financial-green;
}

.btn--resource
{
	margin-top: 10px;
}