.icon
{
    font-family: 'FontAwesome';
    font-size: 30px;

    position: relative;

    background-color: $investor-green;

    &:after
    {
        position: absolute;
        left: 50%;
        color: #fff;
        margin-left: -12px;
    }
}

.icon--doc
{
    background-color: #2c5994;
    &:after
    {
        
		top: 11px;
    	
        content: '\f1c2';
    }
}

.icon--pdf
{
	background-color: red;

    &:after
    {
		top: 12px;

        content: '\f1c1';
    }
}

.icon--web
{
    &:after
    {
		top: 12px;

        content: '\f08e';
    }
}