.section__nav
{
    li
    {
        display: inline-block;

        margin-right: 15px;
    }
	
	.btn
	{
	    font-size: 12px;
	    font-weight: 600;

	    position: relative;

	    padding-right: 30px;

	    border-bottom-right-radius: 0;
	    border-bottom-left-radius: 0;
	    -webkit-box-shadow: 3px 0 4px rgba(0,0,0,.2);
	       -moz-box-shadow: 3px 0 4px rgba(0,0,0,.2);
	            box-shadow: 3px 0 4px rgba(0,0,0,.2);

	    &:after
	    {
	        font-family: 'FontAwesome';

	        position: absolute;
	        right: 10px;

	        content: '\f0a9';
	    }

	    @media screen and (min-width: $screen-sm-min) 
	    {
	    	font-size: 21px;

	    	padding-right: 60px;


	    	&:after
		    {
		        right: 15px;
		    }
	    }
	}

	.btn-lg
	{
		border-bottom-right-radius: 6px;
	    border-bottom-left-radius: 6px;

		@media screen and (min-width: $screen-sm-min) 
	    {
			font-size: 30px;

			border-bottom-right-radius: 0;
	    	border-bottom-left-radius: 0;
		}
	}

}

.section__nav--hero
{
	padding-bottom: 20px;

	@media screen and (min-width: $screen-sm-min) 
    {
        position: absolute;
    	bottom: 0;
    	padding-bottom: 0;
    }
}