.navbar
{
	background-color: $bg;
	border: none;
	border-bottom: 8px solid $financial-green;
	border-radius: 0;
	margin-bottom: 0;
}

.investors .navbar
{
	border-color: $investor-green;
}

.navbar-collapse
{
	border: 0;
	padding: 0;
}

.navbar--fixed
{
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 3;
}

.navbar-brand 
{
	width: 154px;
   	height: 45px;
   	padding: 0;
   	margin: 10px 0 10px 15px!important;

   	img
   	{
   		width: 154px;
   		height: 45px;
   	}

    @media screen and (min-width: $screen-sm-min) 
    {
		width: 265px;
    	height: 78px;
		margin: 25px 0!important;

		img
		{
			width: 265px;
    		height: 78px;
		}
    }
}

.lt-ie9 .navbar-brand
{
	@media screen and (min-width: $screen-sm-min) 
    {
		background-image: url(../img/logo.png);
    }
}

.navbar-default 
{
	.navbar-toggle
	{
		margin-top: 22px;
		border: 0;
		border-radius: 0;
		padding: 0;

		.icon-bar {
			background-color: $grey-dark;
			width: 30px;
		    height: 4px;
		    border-radius: 0;
		}

		&:hover
		{
			background-color: transparent;
		}
	}
}

.navbar-right
{
	margin-right: 0;
}

.navbar--sections
{
	margin: 0;
	
	a
	{
		font-size: 14px;
		
		padding: 10px 15px!important;

		border-top: 1px solid #a1a09c;

		&:hover
		{
			color: #fff!important;
			background-color: #59882b!important;
		}
	}

	@media screen and (min-width: $screen-sm-min) 
    {
		clear: right;
		font-size: 18px;
		margin-top: 15px;

		a
		{
			margin-left: 15px;
			color: #fff!important;

			-webkit-border-radius: 4px;
			   -moz-border-radius: 4px;
			        border-radius: 4px;
		}

		.investors,
		.investors:hover
		{
			background-color: $investor-green!important;
		}
		.financial-advisors,
		.financial-advisors:hover
		{
			background-color: $financial-green!important;
		}
	}
}

.navbar--menu
{
	@media screen and (max-width: $screen-sm-min) 
    {
		margin: 0;

		a
		{
			font-size: 14px;
			
			padding: 10px 15px!important;

			border-top: 1px solid #a1a09c;
		}

		li.active a,
		a:hover,
		li.current-menu-ancestor > a
		{
			color: #fff!important;
			background-color: #59882b!important;
		}

		> li > ul > li > a
		{
			width: 100%;
			display: block;
			padding-left: 50px!important;
		}

		> li > ul
		{
			display: none;
		}

		li.dropdown > a
		{
			position: relative;

			&:after
			{
				font-family: 'FontAwesome';
				position: absolute;
				right: 15px;
				content: '\f0d7';
			}
		}
	}

	@media screen and (min-width: $screen-sm-min) 
    {
		clear: right;
		margin-top: 18px;

		li
		{
			margin-left: 10px;
			position: relative;

			&:hover
			{
				ul
				{
					display: block;
				}
			}
		}

		li a
		{
			background-color: #fff;
			padding: 10px 10px!important;
			color: $text-color!important;
			border: 0;

			-webkit-transition: background-color 0.3s;
	           -moz-transition: background-color 0.3s;
	            -ms-transition: background-color 0.3s;
	             -o-transition: background-color 0.3s;
	                transition: background-color 0.3s;
		}

		> li a
		{
			padding-bottom: 27px!important;
		}

		> li > a:hover
		{
			color: #fff!important;
			
			background-color: #59882b!important;
		}

		> li:last-child a
		{
			padding: 10px 30px!important;
			-webkit-border-radius: 4px;
			-moz-border-radius: 4px;
			border-radius: 4px;
		}

		> li > ul > li > a
		{
			padding-bottom: 10px!important;
			padding-left: 15px!important;
		}

		ul
		{
			display: none;
			position: absolute;
			top: 57px;
			width: 180px;
			list-style-type: none;
			margin-left: -10px;

			a
			{
				display: block;
				width: 180px;
				background-color: #fff;
			}
		}
	}
}

@media screen and (min-width: $screen-sm-min) 
{
	.investors .navbar--menu
	{
		li.active > a,
		li.current-menu-ancestor > a
		{
			background-color: $investor-green;
			color: #fff!important;
		}

		li:hover > a
		{
			background-color: #59882b;
			color: #fff!important;
		}

		> li:last-child a
		{
			background-color: $financial-green;
			color: #fff!important;
		}
	}

	.financial-advisors .navbar--menu
	{
		li.active > a,
		li.current-menu-ancestor > a
		{
			background-color: $financial-green;
			color: #fff!important;
		}

		li:hover > a
		{
			background-color: #59882b;
			color: #fff!important;
		}

		> li:last-child a
		{
			background-color: $investor-green;
			color: #fff!important;
		}
	}
}

.navbar__phone
{
	margin: 20px 0 0 15px;
	font-size: 20px;

	span
	{
		color: $investor-green;
	}
}

.financial-advisors .navbar__phone span
{
	color: $financial-green;
}

.navbar__logout
{
	margin: 19px 0 0 15px;
	color: #fff;
	background-color: $investor-green;

	&:hover
	{
		color: #fff;
		background-color: #59882b;	
	}
}

.financial-advisors .navbar__logout
{
	background-color: $financial-green;
}

.navbar__phone-mobile
{
	margin: 15px 30px 0 0;
	float: right;
	display: inline-block;
	font-size: 30px;
	color: $investor-green;

	@media screen and (min-width: $screen-sm-min) 
    {
		display: none;
    }
}