.news-snippet__image
{
	float: left;
	margin-right: 20px;
}

.news-snippet__content
{
	p
	{
		margin-bottom: 20px;
	}
}

.news-snippet__title
{
	font-weight: 600;
	margin-bottom: 20px;
}

.tags
{
	list-style-type: none;

	li
	{
		margin-bottom: 10px;
		border-left: 3px solid $investor-green;
	}

	a
	{
		padding-left: 15px;

		&.active
		{
			color: #59882b;
		}
	}
}

.financial-advisors .tags li
{
	border-color: $financial-green;
}

.news__header h1
{
	color: #fff;
}

.news__content
{
	img
	{
		float: left;
		margin: 0 20px 20px 0;
	}
	
	p:first-child
	{
		font-size: 14px;

		@media screen and (min-width: $screen-sm-min) 
	    {
	    	font-size: 18px;
	    }
	}
}

.investors
{
	.news__header
	{
		background-color: $financial-green;
	}

	.news__content
	{
		p:first-child
		{
			color: $investor-green;
		}
	}
}

.financial-advisors
{
	.news__header
	{
		background-color: $investor-green;
	}

	.news__content
	{
		p:first-child
		{
			color: $financial-green;
		}
	}
}