.people img
{
	margin-bottom: 20px;

	@media screen and (min-width: $screen-sm-min) 
    {
		margin-bottom: 0;	
    }
}

.people__linkedin
{
	margin-top: 0;

	@media screen and (min-width: $screen-sm-min) 
    {
		margin-top: 15px;
    }
}

.people__position
{
	font-family: 'Droid Serif', serif;
	font-style: italic;
	font-size: 12px;

	@media screen and (min-width: $screen-sm-min) 
    {
		font-size: 24px;    	
    }
}